doctype html
// Look at averageTransform to see if it can be improved
html
  head
    title#Title
      | Loading...
    // WebGL is stored locally to work with file:// with no internet. To undo, switch the comments.
    // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
    script(src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.0.1/color-thief.min.js")
    script(type='text/javascript', src='js/webgl/webgl.js')
    script(type='text/javascript', src='js/math.min.js')
    link(rel='stylesheet', href='./pagestyle.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.ico')
  body#Body(bgcolor='#000000')
    .ImageClip
      img#BackgroundImage.BackgroundImage
    #ColorBackground.ColorBackground
    #ParticleBackground.ParticleBackground
    #MainDiv.MainDiv(height='0px', width='0px')
      canvas#MainCanvas
      img#AlbumImage.AlbumImage(src='img/blankpixel.png')
      img#MonstercatLogo(src='img/monstercatlogo.png')
      #TextDiv.TextDiv1
        p#Artist.ArtistName Artist Name
        p#SongName.SongName Song Name
      #AlbumTextDiv.TextDiv2
        p#AlbumTitle.AlbumTitle Test for now
        p#AlbumSongTitle1.AlbumSongTitle1 Test for now
        p#AlbumSongTitle2.AlbumSongTitle2 Test for now
        p#AlbumSongTitle3.AlbumSongTitle3 Test for now
    #LoadingDiv.LoadingDiv
      p#LoadingText.LoadingText
    #LowerTextDiv.LowerTextDiv
      p#LeftText.LeftText
        | Press P to Pause
        br
        |  Export Data (E): No
        br
        |  Volume (Arrow Keys): 100%
      p#RightText.RightText
        a#Link1(href='https://github.com/TheNexusAvenger/Monstercat-Audio-Spectrum-Visualizer/', target='_blank') GitHub 
        br
        a#Link2(href='https://www.roblox.com/games/435042236/Monstercat-Style-Audio-Spectrum-Visualizer', target='_blank') ROBLOX Place 
    script(type='text/javascript', src='js/helpers/config.js')
    script(type='text/javascript', src='js/helpers/colors.js')
    script(type='text/javascript', src='js/helpers/songutil.js')
    script(type='text/javascript', src='js/helpers/albumcovers.js')
    script(type='text/javascript', src='js/helpers/download.js')
    script(type='text/javascript', src='js/helpers/analyser.js')
    script(type='text/javascript', src='js/helpers/urlsearch.js')
    script(type='text/javascript', src='js/songdata/songs.js')
    script(type='text/javascript', src='js/songdata/albums.js')
    script(type='text/javascript', src='js/songdata/backgrounds.js')
    script(type='text/javascript', src='js/songdata/lpsongnames.js')
    script(type='text/javascript', src='js/main/input.js')
    // WebGL scripts from https://github.com/caseif/vis.js/tree/gh-pages/js/visual/gl
    script(type='text/javascript', src='js/webgl/geom_util.js')
    script(type='text/javascript', src='js/webgl/scene.js')
    script(type='text/javascript', src='js/webgl/geometry.js')
    script(type='text/javascript', src='js/webgl/light.js')
    script(type='text/javascript', src='js/webgl/render.js')
    script(type='text/javascript', src='js/main/spectrum.js')
